button {
    font-size: 20px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    border: none;

}
.count-number {
    font-size: 20px;
}
.minusButton {
    margin-left: 20px;
}
.toggle-block {
    padding: 20px;
    background-color: #B4A0E5;
}